Package: thinkpad-dock
Version: VERSION
Architecture: ARCH
Essential: no
Maintainer: Michael J. Ford <Michael.Ford@slashetc.us>
Installed-Size: INSTSIZE
Depends: python3, python3-pyudev
Description: A nice daemon and set of scripts for thinkpads and dock
 This package runs scripts in /etc/thinkpad-dock/scripts when docked
