[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Thinkpad Dock Daemon
Comment=Run commands/scripts on Thinkpad Dock/Undock
Exec=bash -c "/usr/local/bin/thinkpad-dock.sh login"
Terminal=false
Categories=System
